
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Oswald&display=swap');


:root {
    --primary-color: #325d7d;
    --secondar-color: #f6c94a;
    --accent1-color: #ff7f11;
    --accent2-color: #d1d5db;

    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Lora', serif;


    --nav-background-color: #d1d5db;
    --nav-link-color: #ff7f11;
    --nav-hover-link-color: #d1d5db;
    --nav--hover-bckground-color: #f6c94a;

}


h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color)
}

p{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.sociallinks {
    text-decoration: none;
}

.sociallinks a img {
    max-width: 20px;
    margin-left: 15px;
    padding: 4px;
    margin: 1rem; 
}

.sociallinks p {
    text-align: center;
    margin-right: 10px;
}

.Ing img {
    max-width: 300px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


    


nav{
    text-decoration: none;
}

h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent2-color);
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 98.5%;
    display: block;
    padding: 8px;
}



article{
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: var(--accent1-color);
    width: 70%;

}

article img {
    max-width: 200px;
    float: right;
    margin-top: 20px;
    margin-left: 20px;
}

section img{

    max-width: 600px;
    border:100px;
    height: 300px;
=======
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Oswald&display=swap');


:root {
    --primary-color: #325d7d;
    --secondar-color: #f6c94a;
    --accent1-color: #ff7f11;
    --accent2-color: #d1d5db;

    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Lora', serif;


    --nav-background-color: #d1d5db;
    --nav-link-color: #ff7f11;
    --nav-hover-link-color: #d1d5db;
    --nav--hover-bckground-color: #f6c94a;

}


h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color)
}

p{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.sociallinks {
    text-decoration: none;
}

.sociallinks a img {
    max-width: 20px;
    margin-left: 15px;
    padding: 4px;
    margin: 1rem; 
}

.sociallinks p {
    text-align: center;
    margin-right: 10px;
}

.Ing img {
    max-width: 300px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


    


nav{
    text-decoration: none;
}

h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent2-color);
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 98.5%;
    display: block;
    padding: 8px;
}



article{
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: var(--accent1-color);
    width: 70%;

}

article img {
    max-width: 200px;
    float: right;
    margin-top: 20px;
    margin-left: 20px;
}

section img{

    max-width: 600px;
    border:100px;
    height: 300px;
>>>>>>> 5fb1976ebb900e2457f23850dd5d841b92e4d2ee:wwr/styles/rafting.css
}