* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
nav {
    background-color: brown;
    padding: 10px;
}

nav a {
    color: antiquewhite;
    padding: 10px;
    display: block;
}

h1 {
    color: brown;
    padding: .5rem;
}

main {
    max-width: 640;
}

main img {
    width: 150;
    height: auto;
    border: 1px solid brown;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem;
}

p {
    margin: 1rem
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 558px;
    left: 325px;
}
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
text-align: center;
}

/* Class Selector */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding: 2rem;
    border: 1px;
}