/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

body {
    font-family: roboto, Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #325d7d;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}
article{
    
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    background-color: #325d7d;
    padding: 20px;
    color: var(--accent1-color);
    width: 70%;

}
article img {
    max-width: 200px;
    float: right;
    margin-top: 19px;
    margin-left: 20px;
}


/* Main Content Styles */
.history, .adventures {
    padding: 20px;
}

.history {
    background-color: #d1d5db;
    color: #325d7d;
}

.adventures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.adventure-card {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #000000;
}

.adventure-card img {
    max-width: 50%;
    float: left;
}

/* Footer Styles */
footer  {
    background-color: #d1d5db;
    text-align: center;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.social-icons  {
    position: absolute;
    left: 90%;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.social-icons img {
    left: 800%;
    max-width: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
figcaption {
    text-align: center;
}

.hero   {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
section img {
    max-width: 300px;
    border: 100px;
    height: 300px;
    display: flex;
    grid-column: 3/4;
    margin: 1rem;
}

h1 {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(-50%-50%);
    color: var(--accent2-color);
    text-align: center;
    width: 98.5%;
    display: block; 
}
p {
    font-family: var();
    color: var(--accent1-color);
}
h2 {
    position: absolute;
    top: 90%;
    left: 50%;
    max-width: 98.5%;
    text-align: center;
    display: block;
    transform: translate(-50%-50%);
    color: black;
}
figure a {
    display: flex;
}
figure b {
    display: flex;
}
figure c {
    display: flex;
}

h3 {
    position: absolute;
    top: 170%;
    left: 45%;
    max-width: 98.5%;
    text-align: center;
}
.history p {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 20px;
    width: 70%;
    display: block;
    transform: translate(-50%);
    color: #d1d5db;
    background-color: #000000;
}

