/* Contact.html styles */
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333; /* Text color */
}

body {
    background-color: #fffdfdf6; /* Background color */
}

/* Header Styles */
header {
    background-color: #482525;
    color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    max-width: 150px;
}

h1, h2, h3 {
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff; /* Navigation link color */
    text-decoration: none;
}

#call-to-action {
    text-align: center;
    padding: 20px;
}

#call-to-action a {
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 5px;
}

#call-to-action a:hover {
    background-color: #333;
    color: #fff;
}

/* Style the trip descriptions section with text and image */
#trip-details {
    display: flex;
    justify-content: center; /* Center-align items horizontally */
    align-items: center; /* Center-align items vertically */
}

.trip {
    text-align: center; /* Center-align the text within the trip details */
    margin: 20px; /* Add margin for spacing between trip details */
}

.trip img {
    display: block;
    margin: 0 auto; /* Horizontally center the image within each trip detail */
    max-width: 100%; /* Ensure images scale with the container */
}

#trip-descriptions {
    text-align: center; /* Center-align text */
}

#trip-descriptions img {
    display: block; /* Make the image a block-level element */
    margin: 0 auto; /* Horizontally center the image within its container */
    max-width: 100%; /* Ensure it scales with the container */
}

#trip-table {
    text-align: center;
    padding: 20px;
}

#trip-table h3 {
    font-size: 24px;
    margin: 10px 0;
}

#trip-table table {
    width: 100%;
    border-collapse: collapse;
}

#trip-table th, #trip-table td {
    border: 1px solid #333;
    padding: 10px;
}

main {
    padding: 20px;
}

p {
    color: #333;
}

/* Additional styling for the rest of your page can be added as needed */
